{% extends "accounts/base.html" %}
{% block title %}Login | Adventure Nepal{% endblock %}
{% block account_heading %}Welcome Back{% endblock %}
{% block account_description %}Sign in to plan your next adventure and manage your bookings.{% endblock %}
{% block account_content %}
<form method="post" class="site-form">
  {% csrf_token %}<input type="hidden" name="next" value="{{ next }}" />
  {% include "includes/form_fields.html" %}
  <a href="{% url 'accounts:password_reset' %}" class="form-text-link account-card__forgot">Forgot your password?</a>
  <button type="submit" class="btn btn-primary form-submit">Login</button>
</form>
<p class="account-card__footer">New here? <a href="{% url 'accounts:signup' %}{% if next %}?next={{ next|urlencode }}{% endif %}" class="form-text-link">Create an account</a></p>
{% endblock %}
