{% extends "accounts/base.html" %}
{% block title %}Choose a New Password | Adventure Nepal{% endblock %}
{% block account_heading %}Choose a New Password{% endblock %}
{% block account_description %}{% if validlink %}Set a new password for your Adventure Nepal account.{% else %}This reset link is invalid or has already been used. Request a fresh link to continue.{% endif %}{% endblock %}
{% block account_content %}
{% if validlink %}<form method="post" class="site-form">{% csrf_token %}{% include "includes/form_fields.html" %}<button type="submit" class="btn btn-primary form-submit">Reset Password</button></form>{% else %}<a href="{% url 'accounts:password_reset' %}" class="btn btn-primary form-submit">Request a New Link</a>{% endif %}
{% endblock %}
