{% extends "accounts/base.html" %}
{% block title %}Reset Password | Adventure Nepal{% endblock %}
{% block account_heading %}Forgot Your Password?{% endblock %}
{% block account_description %}Enter your account email and we'll send you a reset link.{% endblock %}
{% block account_content %}
<form method="post" class="site-form">{% csrf_token %}{% include "includes/form_fields.html" %}<button type="submit" class="btn btn-primary form-submit">Send Reset Link</button></form>
<p class="account-card__footer"><a href="{% url 'accounts:login' %}" class="form-text-link">Back to Login</a></p>
{% endblock %}
