{% extends "accounts/base.html" %}
{% block title %}Change Password | Adventure Nepal{% endblock %}
{% block account_heading %}Change Your Password{% endblock %}
{% block account_description %}Enter your current password and choose a new one.{% endblock %}
{% block account_content %}
<form method="post" class="site-form">{% csrf_token %}{% include "includes/form_fields.html" %}<button type="submit" class="btn btn-primary form-submit">Update Password</button></form>
<p class="account-card__footer"><a href="{% url 'accounts:profile' %}" class="form-text-link">Back to My Account</a></p>
{% endblock %}
