{% extends "base.html" %}

{% block content %}

    {% include "core/sections/hero.html" %}

    {% include "core/sections/featured_adventures.html" %}

    {% include "core/sections/why_choose_us.html" %}

    {% include "core/sections/destinations.html" %}

    {% include "core/sections/testimonials.html" %}

    {% include "core/sections/blog.html" %}

    {% include "core/sections/cta.html" %}

    {% include "core/sections/faq.html" %}

    {% include "core/sections/footer.html" %}

{% endblock %}