<nav class="navbar">
    <div class="container">
        <a href="{% url 'core:home' %}" class="navbar__brand">
            <i class="brand-icon" data-lucide="mountain-snow"></i>
            <div class="brand-text">
                <span class="brand-title">
                    Adventure Nepal
                </span>
                <span class="brand-tagline">
                    Explore Beyond
                </span>
            </div>
        </a>
        <ul class="navbar__links">
            <li><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="#">Adventures</a></li>
            <li><a href="#">Destinations</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="navbar__actions">
            <a href="#" class="navbar__login">Login</a>
            <a href="#" class="btn btn-primary">
                Start Exploring
            </a>
        </div>
    </div>
</nav>